<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <i class="fa fa-arrow-left cursor-pointer"
     aria-hidden="true"
     title="Dashboard"
     (click)="navigateToDashboard()"></i>
  <!-- Title -->
  <h1 class="h2">Process Details</h1>
  <div class="btn-toolbar mb-2 mb-md-0">

  </div>
</div>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Key</th>
      <th scope="col">Value</th>
    </tr>
  </thead>
  <tbody class="align-middle">
    <!-- Customer Id -->
    <tr>
      <td><span>Customer Id</span></td>
      <td><span>3123</span></td>
    </tr>

    <!-- Customer Name -->
    <tr>
      <td><span>Customer Name</span></td>
      <td><span>UMC Utrecht</span></td>
    </tr>

    <!-- Machine Number -->
    <tr>
      <td><span>Machine Number</span></td>
      <td><span>UMC-342</span></td>
    </tr>

    <!-- Machine Number -->
    <tr>
      <td><span>Machine Id</span></td>
      <td><span>21</span></td>
    </tr>

    <!-- MachineTypeSerial -->
    <tr>
      <td><span>Machine Type Serial</span></td>
      <td><span>EWD220;33819830413901</span></td>
    </tr>

    <!-- Process -->
    <tr>
      <td><span>Process</span></td>
      <td><span>WashDisWash</span></td>
    </tr>

    <!-- Process Time -->
    <tr>
      <td><span>Process Time</span></td>
      <td><span>Start:2019-13-02
          21:13:11.328; End:2019-13-02
          22:03:00.327</span></td>
    </tr>

    <!-- Sensor Data -->
    <tr>
      <td><span>Sensor Data</span></td>
      <td><span>WaterTemp:celcius:23; Pump10:off; Pump5:on; DrainSensor:off; WaterLevel:ml-432;</span></td>
    </tr>

    <!-- Status -->
    <tr>
      <td><span>Status</span></td>
      <td> <span class="badge rounded-pill bg-success">Online</span></td>
    </tr>

    <!-- Online From -->
    <tr>
      <td><span>Online From</span></td>
      <td><span>27-07-2014 10:02:3</span></td>
    </tr>
  </tbody>
</table>
