<section style="background-color: #508bfc;">
  <div class="container py-2 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong"
             style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <!-- Header -->
            <h3 class="mb-5">Division 2 Recon Protal</h3>

            <!-- Email -->
            <div class="form-outline mb-4">
              <label class="text-start form-label"
                     for="typeEmailX-2">Username/Email</label>
              <input type="email"
                     id="typeEmailX-2"
                     class="form-control form-control-lg" />
            </div>

            <!-- Password -->
            <div class="form-outline mb-4">
              <label class="form-label text-start"
                     for="typePasswordX-2">Password</label>
              <input type="password"
                     id="typePasswordX-2"
                     class="form-control form-control-lg" />
            </div>

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-start mb-4">
              <input class="form-check-input"
                     type="checkbox"
                     value=""
                     id="form1Example3" />
              <label class="form-check-label"
                     for="form1Example3"> &nbsp; Remember password </label>
            </div>
            <!-- Login Button -->
            <button class="btn btn-primary btn-lg btn-block"
                    type="button" (click)="login()">Login</button>

            <hr class="my-4">

            <p class="small mb-2 pb-lg-2"><a class="text-muted"
                 href="#!">Forgot password?</a></p>
            <p>Don't have an account? <a href="#!"
                 class="link-info">Register here</a></p>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
