<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <!-- Title -->
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button"
              class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button"
              class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-5">
    <h3>Process Data</h3>
  </div>
  <div class="col-7">
    <div class="form-group">
      <input type="text"
             class="form-control"
             placeholder="Search..."
             [(ngModel)]="filterTerm" />
    </div>
  </div>
  </div>

  <!-- Table content -->
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">Customer Id</th>
        <th scope="col">Customer Name</th>
        <th scope="col">Machine Number</th>
        <th scope="col">Process</th>
        <th scope="col">SensorData</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody class="align-middle">
      <tr *ngFor="let d of data | filter: filterTerm">
        <td>
          <span class="p-3">{{ d.CustomerId }}</span>
        </td>
        <td>{{ d.MachineNumber }}</td>
        <td>{{ d.MachineNumber }}</td>
        <td>{{ d.Process }}</td>
        <td class="wrap-table-cell">{{ d.SensorData }}</td>
        <td>
          <span class="badge rounded-pill bg-success"
                [hidden]="!d.Online">Online</span>
          <span class="badge rounded-pill bg-secondary"
                [hidden]="d.Online">Offline</span>
        </td>
        <td>
          <div class="row">
            <!-- Action - View-->
            <div class="col-4">
              <i class="fa fa-eye cursor-pointer"
                 style="color: blue;"
                 aria-hidden="true"
                 title="View"
                 (click)="viewProcess(d.CustomerId)"></i>
            </div>
            <!-- Action - Edit-->
            <div class="col-4">
              <i class="fa fa-pencil"
                 style="color: gray"
                 aria-hidden="true"
                 title="Edit"></i>
            </div>
            <!-- Action - Delete-->
            <div class="col-4">
              <i class="fa fa-trash-o"
                 style="color: gray"
                 aria-hidden="true"
                 title="Delete"></i>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
