<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <!-- Title -->
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
      <button type="button"
              class="btn btn-sm btn-outline-secondary">Share</button>
      <button type="button"
              class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
  </div>
</div>

<!-- Table content -->
<h3>Customer Machines Process</h3>

<table class="table table-striped table-sm">
  <thead>
    <tr>
      <th scope="col">Customer Id</th>
      <th scope="col">Customer Name</th>
      <th scope="col">Machine Number</th>
      <th scope="col">Process</th>
      <th scope="col">Online</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1,001</td>
      <td>random</td>
      <td>data</td>
      <td>placeholder</td>
      <td>text</td>
      <td>
        <div class="row  ">
          <!-- Action - View-->
          <div class="col-4">
            <i class="fa fa-eye cursor-pointer"
               style="color: blue;"
               aria-hidden="true"
               title="View"></i>
          </div>
          <!-- Action - Edit-->
          <div class="col-4">
            <i class="fa fa-pencil"
               style="color: gray"
               aria-hidden="true"
               title="Edit"></i>
          </div>
          <!-- Action - Delete-->
          <div class="col-4">
            <i class="fa fa-trash-o"
               style="color: gray"
               aria-hidden="true"
               title="Delete"></i>
          </div>
        </div>

      </td>
    </tr>
  </tbody>
</table>
